body {
    background-color: black;
    width: 1920px;
    height: 4000px;
    font-family: "Gilam Thin Italic DEMO";
    color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.container {
    width: 1450px;
    margin: 0 auto;
}
.logo-image {
    display: inline-block;
    width: 357px;
    height: 79px;
    margin-top: 37px;
    margin-bottom: 89px;
}
.call-back {
    width: 218px;
    height: 50px;
    color: #E4B564;
    text-decoration: none;
    font-family: Ballet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid #E4B564;
    margin-top: 37px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 11px;
}
header {
    display: flex;
    justify-content: space-between;
}
.central-geo {
    margin-bottom: 161px;
}
h1 {
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.list-intro {
    padding-top: 43px;
    width: 1182px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 41px;
}

.rectangles {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    text-align: center;
    margin-bottom: 50px;
}

    .rect-1 {
        display: grid;
        background: #634F2C;
        grid-column: 1/3;
        justify-content: center;
        align-content: center;
        font-family: Gilam;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
            }

    .rect-2 {
        display: grid;
        background: #B4A385;
        grid-column: 3/5;
        justify-content: center;
        align-content: center;
        font-family: Gilam;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        place-items: center;
        grid-template-columns: fit-content(380px);
    }

    .rect-3 {
        display: grid;
        background: #E4B564;
        grid-column: 5/7;
        justify-content: center;
        align-content: center;
        font-family: Gilam;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
    }

    .rect-4 {
        background: #635A4A;
        grid-column: 1/4;
        display: grid;
        justify-content: center;
        align-content: center;
        font-family: Gilam;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
   }

    .rect-5 {
        display: grid;
        background: #B08C4D;
        grid-column: 4/7;
        justify-content: center;
        align-content: center;
        font-family: Gilam;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;

    }
h2 {
    font-family: Gilam;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    margin-bottom: 94px;
}
    .car-park {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, minmax(255px, auto));
        grid-auto-flow: dense;
        gap: 24px;
        text-align: center;
        color: #FFF;
        font-family: Gilam;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }
    .park-grid {
        padding: 47px;
    }
    .item-7 {
        grid-area: 3/3;
        background-color: #0A0909;
        font-weight: 700;

    }

    .item-1 {
        background-color: #0E0E0E;
        grid-area: 1 span;

    }

    .item-4 {
        background-color: #1F1F1F;
        grid-area: 3 span;
        font-weight: 400;

    }

    .item-2 {
        background-color: #242424;
        grid-area: 2 span;
    }

    .item-3 {
      background-color: #1F1F1F;
        font-weight: 500;
    }

    .item-5 {
        color: #000000;
        background-color: #E4B564;
        grid-area: 2 span;
        font-weight: 500;
    }

    .item-6 {
     background-color: #0E0E0E;
        grid-area: 1 span;
    }
.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 172px;
}
h3 {
    font-family: Gilam;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.projects {
    font-family: Ballet;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    border: 1px solid #E4B564;
    color: #E4B564;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: center;
    margin-bottom: 72px;
}
.clients {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(3, 391px);
    align-content: center;
    justify-content: center;

}
.cl-1 {
    background-color: #634F2C;
    display: grid;
    justify-content: center;
    align-content: center;
}
.cl-2 {
    background-color: #E8D2ABC2;
    display: grid;
    font-family: Gilam;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    align-content: center;
    justify-content: center;
    text-align: center;

}
.cl-3 {
    background-color: #E4B564;
    display: grid;
    align-content: center;
    justify-content: center;
}
.cl-4 {
   background-color: #635A4A;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.cl-5 {
    background-color: #B08C4D;
    display: grid;
    align-content: center;
    justify-content: center;
}
.cl-6 {
   background-color: #634F2C;
    display: grid;
    align-content: center;
    justify-content: center;
}
span {
    font-weight: bold;
}